missing accept head return 404 error

### Describe the bug

When a client issues a request without accept header, the react server will return a 404 error.

Based on HTTP specification [RFC 9110 §12.5.1](https://www.rfc-editor.org/rfc/rfc9110.html#section-12.5.1):
If no Accept header is present:
The server may assume that the client accepts any media type (*/*).

So, the effective behavior is as if the client sent: 
`Accept: */*`

**That means:**
	•	The server can return its default representation (often text/html, application/json, or whatever makes sense for the endpoint).
	•	It should not return 406 Not Acceptable unless it truly has no representation to serve.

### Reproduction

_No response_

### Steps to reproduce

1. `cd examples/hello-world`
2. `pnpm build && pnpm start`

**broken return:**
```
curl -v -H "User-Agent:" -H "Accept:" http://localhost:3000
* Host localhost:3000 was resolved.
* IPv6: ::1
* IPv4: 127.0.0.1
*   Trying [::1]:3000...
* Connected to localhost (::1) port 3000
> GET / HTTP/1.1
> Host: localhost:3000
> 
* Request completely sent off
< HTTP/1.1 404 Not Found
< Date: Sun, 02 Nov 2025 21:15:35 GMT
< Connection: keep-alive
< Keep-Alive: timeout=5
< Content-Length: 0
< 
* Connection #0 to host localhost left intact
```

__Note:__ problem exists for `Accept: */*` too

**expected output:**
```
curl -v -H "User-Agent:" -H "Accept: text/html" http://localhost:3000
* Host localhost:3000 was resolved.
* IPv6: ::1
* IPv4: 127.0.0.1
*   Trying [::1]:3000...
* Connected to localhost (::1) port 3000
> GET / HTTP/1.1
> Host: localhost:3000
> Accept: text/html
> 
* Request completely sent off
< HTTP/1.1 200 OK
< cache-control: must-revalidate
< content-type: text/html; charset=utf-8
< last-modified: Sun, 02 Nov 2025 21:19:31 GMT
< Date: Sun, 02 Nov 2025 21:19:51 GMT
< Connection: keep-alive
< Keep-Alive: timeout=5
< Transfer-Encoding: chunked
< 
* Connection #0 to host localhost left intact
<link rel="preconnect" href="/" id="live-io"/><h1>Hello World</h1
```


### System Info

```shell
System:
    OS: macOS 15.7.1
    CPU: (12) arm64 Apple M4 Pro
    Memory: 258.80 MB / 48.00 GB
    Shell: 5.9 - /bin/zsh
  Binaries:
    Node: 25.1.0 - /opt/homebrew/bin/node
    npm: 11.6.2 - /opt/homebrew/bin/npm
    pnpm: 9.15.5 - /opt/homebrew/bin/pnpm
  Browsers:
    Chrome: 141.0.7390.123
  npmPackages:
    @lazarv/react-server: workspace:^ => 0.0.0
```

### Used Package Manager

pnpm

### Logs

_No response_

### Validations

- [x] Follow our [Code of Conduct](https://github.com/lazarv/react-server/blob/main/CODE_OF_CONDUCT.md)
- [x] Read the [Contributing Guidelines](https://github.com/lazarv/react-server/blob/main/CONTRIBUTING.md).
- [x] Read the [docs](https://react-server.dev).
- [x] Check that there isn't [already an issue](https://github.com/lazarv/react-server/issues) that reports the same bug to avoid creating a duplicate.
- [x] Check that this is a concrete bug. For Q&A open a [GitHub Discussion](https://github.com/lazarv/react-server/discussions).
- [x] The provided reproduction is a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) of the bug.